/* Define your theme colors and fonts */
:root {
	--main-bg-color: #F1F2EB;
	--main-text-color: #4A4A48;
	--accent-color: #566246;
	--second-accent-color: #A4C2A5;
	--main-font: 'Arial', sans-serif;
	--heading-font: 'Georgia', serif;
}
.container {
	display: grid;
	row-gap: 50px;
	grid-template-columns: auto auto auto;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 5px 10px;
	border: 2px solid var(--accent-color);
	border-radius: 25px;
	margin: 20px;
}

.container > div {
	padding: 20px;
}
/* Style the top navigation bar */
.topbanner {
	overflow: hidden;
	background-color:var(--second-accent-color);
	border-radius: 25px;
}

/* Style the topnav links */
.topbanner a {
	float: left;
	display: block;
	color: var(--main-text-color);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
/* Change color on hover */
.topbanner a:hover {
	background-color: #ddd;
	color: black;
}

#contact {
	text-align: center;
}
#education {
	text-align: center;
}
#goals {
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	font-family: var(--main-font);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 0;
	padding: 20px;
}

h1 {
	font-family: var(--heading-font);
	color: var(--accent-color);
}

h2 {
	font-family: var(--heading-font);
	color: var(--second-accent-color);
}

li {				
	max-width: 600px;
	color: var(--accent-color)
}
table {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	box-shadow: 5px 10px;
	border: 2px solid var(--accent-color);
	border-radius: 25px;
	display: block;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}
.button {
	background-color: var(--accent-color);
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
/* Create three unequal columns that floats next to each other */
.column {
	padding: 10px;
}

/* Left and right column */
.column.side {
	width: 25%;
}
	
/* Middle column */
.column.middle {
	width: 50%;
}
	
/* Clear floats after the columns */
.row::after {
	content: "";
	display: table;
	clear: both;
}
	
	/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column.side, .column.middle {
		width: 100%;
	}
}
	
	/* Style the footer */
.footer {
	background-color: #f1f1f1;
	padding: 10px;
	text-align: center;
}

img {
	border-radius: 25px;
}
section{
	padding: 20px;
}